body{
    background-color: white;
}
#container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
}
#container div{
    border: 1px solid red;
}
.item1{
    background-color:khaki;
    grid-column: 1 / 7;
}
.item2{
    grid-row: 2 / 7;
    background-color: purple;
    grid-column: 6;
}
.item3{
    grid-column: 1 / 6;
    background-color: seagreen;
    grid-row: 6;
}
.item4{
    grid-row: 2 / 6;
    background-color: slategrey;
}
.item5{
    grid-column: 2 / 6;
    background-color: teal;
    grid-row: 2;
}
.item6{
    grid-row: 3 / 6;
    background-color:blue;
    grid-column: 5;
}
.item7{
    grid-row: 5;
    grid-column: 2 / 5;
    background-color: crimson;
}
.item8{
    grid-row: 3 / 5;
    grid-column: 2;
    background-color: darkmagenta;
}
.item9{
    grid-column: 3 / 5;
    grid-row: 3;
    background-color: gold;
}
.item10{
    background-color: green;
    grid-column: 4;
}
.item11{
    grid-column: 3;
    grid-row: 4;
    background-color: chartreuse;
}